Repository mizegret/minatoku-duel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, markdownlint-cli2, remark -q

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx,cjs,mjs}": ["eslint --max-warnings 0 --fix", "prettier --write"],
  "**/*.md": ["markdownlint-cli2", "remark -q", "prettier --write"],
  "**/*.{mdx,css,scss,html,json,yml,yaml}": ["prettier --write"]
}

docs(api): add examples, reserved payloads, channel usage; link from events.md (#69)
  docs/api/channel-usage.md
  docs/api/events.examples.md
  docs/api/events.md
  docs/api/payload-fields.md
Due: prettier --write, markdownlint-cli2, remark -q

docs(observability): add performance marks + ADR-0002 (#70)
  docs/architecture/decisions/ADR-0002-observability.md
  docs/observability/performance-marks.md
Due: prettier --write, markdownlint-cli2, remark -q

docs(deployment): Token Service design + env variables; link from CF Pages guide
  docs/deployment/cloudflare-pages.md
  docs/deployment/env-variables.md
  docs/deployment/token-service.md
Due: prettier --write, markdownlint-cli2, remark -q

chore(ci): remove auto-link and reviewdog workflows (folded into guardrails/ci)
  .github/workflows/auto-link-from-branch.yml
  .github/workflows/reviewdog-eslint.yml
  .github/workflows/reviewdog-markdown.yml
Due: prettier --write

chore(ci): remove extra workflows (pr-helper/pr-size/doctor/slash-commands/subissue)
  .github/workflows/auto-subissue.yml
  .github/workflows/nightly-doctor.yml
  .github/workflows/pr-doctor.yml
  .github/workflows/pr-helper.yml
  .github/workflows/pr-size.yml
  .github/workflows/slash-commands.yml
Due: prettier --write

docs: refresh README for Phase 1 quickstart
  README.md
Due: prettier --write, markdownlint-cli2, remark -q

docs(deployment): Token Service design + env variables; link from CF Pages guide (#71)
  docs/deployment/cloudflare-pages.md
  docs/deployment/env-variables.md
  docs/deployment/token-service.md
Due: prettier --write, markdownlint-cli2, remark -q

feat(functions): /api/health スタブを追加（200 OK, {ok:true}) (#79)
  functions/api/health.js
  tests/functions.health.test.js
Due: eslint --max-warnings 0 --fix, prettier --write

feat(build): interactive UI stub in dist respecting join/start/move/state (#73)
  scripts/build-placeholder.mjs
Due: eslint --max-warnings 0 --fix, prettier --write

chore(ci): PRタイトル日本語必須チェックを追加（スキップ用ラベル rules:allow-non-jp-title）
  .github/labels.json
  .github/workflows/pr-title-japanese.yml
Due: prettier --write

chore(ci): PRタイトル日本語必須チェックを追加（スキップ用ラベル rules:allow-non-jp-title） (#77)
  .github/labels.json
  .github/workflows/pr-title-japanese.yml
Due: prettier --write

chore(ワークスペース): npm workspaces 追加（apps/web, functions） (#75)
  apps/web/README.md
  apps/web/package.json
  docs/architecture/workspaces.md
  functions/package.json
  package-lock.json
  package.json
Due: prettier --write, markdownlint-cli2, remark -q

CI/Docs: PR・Issueをだれでも分かるように仕組み化（本文検査/テンプレ刷新/夜間サマリ） (#85)
  .github/ISSUE_TEMPLATE/01-parent-epic.yml
  .github/ISSUE_TEMPLATE/02-sub-issue.yml
  .github/pull_request_template.md
  .github/workflows/filename-ascii.yml
  .github/workflows/pr-clarity.yml
  .github/workflows/pr-housekeeping.yml
  docs/git/pr-guidelines.md
Due: prettier --write, markdownlint-cli2, remark -q

chore(ワークスペース): npm workspaces 追加（apps/web, functions） (#75)
  docs/architecture/workspaces.md
  functions/package.json
  package-lock.json
  package.json
Due: prettier --write, markdownlint-cli2, remark -q

chore(web): sync lockfile for Vite/React plugin (fix npm ci on Pages)
  apps/web/package.json
  package-lock.json
Due: prettier --write

SWITCH: Vite + React スケルトンを追加（ローカル操作のみ） (#83)
  apps/web/index.html
  apps/web/package.json
  apps/web/src/App.jsx
  apps/web/src/main.jsx
  apps/web/vite.config.js
  package-lock.json
Due: eslint --max-warnings 0 --fix, prettier --write

feat(web): M1 R3Fキャンバス導入（最小ループ）
  apps/web/src/App.jsx
  apps/web/src/Scene.jsx
Due: none

chore(web): Prettier フォーマット（M1）
  apps/web/src/Scene.jsx
Due: none

SWITCH: M1 R3Fキャンバス導入（最小ループ） (#86)
  apps/web/src/App.jsx
  apps/web/src/Scene.jsx
Due: none

feat(web): M2 イベント基盤（Envelope検証＋ローカルBus）」
  apps/web/src/App.jsx
  apps/web/src/lib/bus/local.js
  apps/web/src/lib/events/schema.js
  apps/web/src/lib/events/validate.js
  apps/web/src/state/events.js
Due: eslint --max-warnings 0 --fix, prettier --write

feat(web): M2 イベント基盤（Envelope検証＋ローカルBus）」 (#87)
  apps/web/src/App.jsx
  apps/web/src/lib/bus/local.js
  apps/web/src/lib/events/schema.js
  apps/web/src/lib/events/validate.js
  apps/web/src/state/events.js
Due: eslint --max-warnings 0 --fix, prettier --write

feat(web): M3 VRMローダを追加（@pixiv/three-vrm／失敗時は球体フォールバック）
  apps/web/package.json
  apps/web/src/Scene.jsx
  apps/web/src/scene/Avatar.jsx
Due: prettier --write

chore(web): Prettier フォーマット（M3）
  apps/web/src/scene/Avatar.jsx
Due: none

chore(web): lockfile sync for @pixiv/three-vrm ^3.4.3（npm ci 修正）
  apps/web/package.json
  package-lock.json
Due: prettier --write

feat(web): M3 VRMローダを追加（最小・フォールバック付き）
  apps/web/package.json
  apps/web/src/Scene.jsx
  apps/web/src/scene/Avatar.jsx
  package-lock.json
Due: prettier --write

chore(dev): add front:dev/back:dev/dev:both and concurrently
  package-lock.json
  package.json
Due: prettier --write

chore(web): dev proxy for /api -> 127.0.0.1:8788
  apps/web/vite.config.js
Due: eslint --max-warnings 0 --fix, prettier --write

refactor(web): TS bootstrap (main.tsx/App.tsx), add types and favicon; add JS forwarders for dev
  .lintstagedrc.json
  apps/web/index.html
  apps/web/package.json
  apps/web/public/favicon.svg
  apps/web/src/App.jsx
  apps/web/src/App.tsx
  apps/web/src/main.jsx
  apps/web/src/main.tsx
  apps/web/tsconfig.json
Due: eslint --max-warnings 0 --fix, prettier --write

feat(layout): lock main panels to 100vh; stabilize R3F canvas sizing
  apps/web/src/Scene.jsx
Due: none

ui(e2e): add UI spec (no scroll + event logs) and webServer
  e2e/ui.spec.ts
  playwright.config.ts
Due: eslint --max-warnings 0 --fix, prettier --write

chore(ci): include apps/** in changes filter to run e2e
  .github/workflows/ci.yml
Due: prettier --write

chore(lint): ignore apps/web TS temporarily during migration
  eslint.config.js
Due: eslint --max-warnings 0 --fix, prettier --write

chore(lint): ignore .wrangler/** and test-results/**; add local ignores to .gitignore
  .gitignore
  .wrangler/tmp/bundle-amz2dc/middleware-insertion-facade.js
  .wrangler/tmp/bundle-amz2dc/middleware-loader.entry.ts
  .wrangler/tmp/bundle-tAFzE9/middleware-insertion-facade.js
  .wrangler/tmp/bundle-tAFzE9/middleware-loader.entry.ts
  .wrangler/tmp/dev-Wpnc2r/functionsWorker-0.5522553765798517.js
  .wrangler/tmp/dev-Wpnc2r/functionsWorker-0.5522553765798517.js.map
  .wrangler/tmp/pages-cvI5Gb/functionsRoutes-0.9112120316629582.mjs
  .wrangler/tmp/pages-cvI5Gb/functionsWorker-0.5522553765798517.mjs
  .wrangler/tmp/pages-cvI5Gb/functionsWorker-0.5522553765798517.mjs.map
  eslint.config.js
Due: eslint --max-warnings 0 --fix, prettier --write

chore(format): prettify temporary forwarders
  apps/web/src/App.jsx
  apps/web/src/main.jsx
Due: none

chore(clean): remove accidental .wrangler tmp artifacts and ignore locally
  .wrangler/tmp/bundle-amz2dc/middleware-insertion-facade.js
  .wrangler/tmp/bundle-amz2dc/middleware-loader.entry.ts
  .wrangler/tmp/bundle-tAFzE9/middleware-insertion-facade.js
  .wrangler/tmp/bundle-tAFzE9/middleware-loader.entry.ts
  .wrangler/tmp/dev-Wpnc2r/functionsWorker-0.5522553765798517.js
  .wrangler/tmp/dev-Wpnc2r/functionsWorker-0.5522553765798517.js.map
  .wrangler/tmp/pages-cvI5Gb/functionsRoutes-0.9112120316629582.mjs
  .wrangler/tmp/pages-cvI5Gb/functionsWorker-0.5522553765798517.mjs
  .wrangler/tmp/pages-cvI5Gb/functionsWorker-0.5522553765798517.mjs.map
Due: eslint --max-warnings 0 --fix, prettier --write

fix(ci): read live labels from API (avoid stale pr.labels) in size/doctor checks
  .github/workflows/pr-doctor.yml
  .github/workflows/pr-size.yml
Due: prettier --write

fix(ci): read live labels from API in size/doctor checks
  .github/workflows/pr-doctor.yml
  .github/workflows/pr-size.yml
Due: prettier --write

fix(ci): ラベル判定を最新化（size/doctor）
  .github/workflows/pr-doctor.yml
  .github/workflows/pr-size.yml
Due: prettier --write
