Repository mizegret/minatoku-duel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write, markdownlint-cli2, remark -q

feat(web): 100vh固定・Dev起動・TSブートストラップ＋UI E2E
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.json
  apps/web/index.html
  apps/web/package.json
  apps/web/public/favicon.svg
  apps/web/src/App.jsx
  apps/web/src/App.tsx
  apps/web/src/Scene.jsx
  apps/web/src/main.jsx
  apps/web/src/main.tsx
  apps/web/tsconfig.json
  apps/web/vite.config.js
  e2e/ui.spec.ts
  eslint.config.js
  package-lock.json
  package.json
  playwright.config.ts
Due: eslint --max-warnings 0 --fix, prettier --write

refactor(web): migrate src to TypeScript (local/bus, events schema/validate/state, Scene/Avatar)
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/Scene.tsx
  apps/web/src/lib/bus/local.js
  apps/web/src/lib/bus/local.ts
  apps/web/src/lib/events/schema.ts
  apps/web/src/lib/events/validate.js
  apps/web/src/lib/events/validate.ts
  apps/web/src/scene/Avatar.tsx
  apps/web/src/state/events.ts
  apps/web/src/vite-env.d.ts
Due: eslint --max-warnings 0 --fix, prettier --write

chore(lock): sync package-lock after @types/three and TS migration
  package-lock.json
Due: prettier --write

chore(dev): satisfy eslint (no-empty) in lock checker
  .husky/pre-commit
  package.json
  scripts/check-lock-sync.mjs
  scripts/pr-body-verify.mjs
  scripts/pr-template.mjs
Due: eslint --max-warnings 0 --fix, prettier --write

refactor(web): src のTS化（local/bus, events, Scene/Avatar） (#91)
  .husky/pre-commit
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/Scene.tsx
  apps/web/src/lib/bus/local.js
  apps/web/src/lib/bus/local.ts
  apps/web/src/lib/events/schema.ts
  apps/web/src/lib/events/validate.js
  apps/web/src/lib/events/validate.ts
  apps/web/src/scene/Avatar.tsx
  apps/web/src/state/events.ts
  apps/web/src/vite-env.d.ts
  package-lock.json
  package.json
  scripts/check-lock-sync.mjs
  scripts/pr-body-verify.mjs
  scripts/pr-template.mjs
Due: eslint --max-warnings 0 --fix, prettier --write

refactor(web): remove temporary JS forwarders (App.jsx/main.jsx)
  apps/web/src/App.jsx
  apps/web/src/main.jsx
Due: none

ui(style): デザインM0のベースCSS追加（変数/タイポ/枠）と最小クラス付与
  apps/web/src/App.tsx
  apps/web/src/main.tsx
  apps/web/src/styles.css
Due: eslint --max-warnings 0 --fix, prettier --write

refactor(web): 一時フォワーダ削除（App.jsx/main.jsx） (#92)
  apps/web/src/App.jsx
  apps/web/src/main.jsx
Due: none

ui(M0): ベースCSS（変数/タイポ/枠）と最小クラス付与 (#93)
  apps/web/src/App.tsx
  apps/web/src/main.tsx
  apps/web/src/styles.css
Due: eslint --max-warnings 0 --fix, prettier --write

fix(ci): rerun size guard on label changes (labeled/unlabeled)
  .github/workflows/pr-size.yml
Due: prettier --write

fix(ci): rerun size guard on label changes (labeled/unlabeled) (#94)
  .github/workflows/pr-size.yml
Due: prettier --write

feat(net): TokenServiceインターフェースとHTTP実装を追加し、UIにtokenステータス表示（Phase 1のstub）
  apps/web/src/App.tsx
  apps/web/src/lib/token/TokenService.ts
  apps/web/src/lib/token/http.ts
  e2e/token.spec.ts
Due: eslint --max-warnings 0 --fix, prettier --write

chore(dev): satisfy no-empty with explicit catch block in pr:open
  scripts/pr-open.mjs
Due: eslint --max-warnings 0 --fix, prettier --write

chore(dev): format pr-sync
  scripts/pr-sync.mjs
Due: eslint --max-warnings 0 --fix, prettier --write

feat(net): TokenService + /api/ably-token のstub疎通とUI表示
  apps/web/src/App.tsx
  apps/web/src/lib/token/TokenService.ts
  apps/web/src/lib/token/http.ts
  e2e/token.spec.ts
  scripts/pr-open.mjs
  scripts/pr-sync.mjs
Due: eslint --max-warnings 0 --fix, prettier --write

ui(M1): ベースCSSを拡張（spacing/レイアウトクラス）し、Appで適用。token取得にリトライ追加。E2Eにレイアウト検証を追加。
  apps/web/src/App.tsx
  apps/web/src/styles.css
  e2e/layout.spec.ts
Due: eslint --max-warnings 0 --fix, prettier --write

chore(dev): add wrangler.toml with compatibility_date to silence dev warning
  wrangler.toml
Due: none

chore(e2e): start backend with Playwright (port 8788) and fix heading locators
  e2e/layout.spec.ts
  playwright.config.ts
Due: eslint --max-warnings 0 --fix, prettier --write

chore(e2e): backendも同時起動＋見出しロケータ修正 (#98)
  apps/web/src/App.tsx
  apps/web/src/styles.css
  e2e/layout.spec.ts
  playwright.config.ts
  wrangler.toml
Due: eslint --max-warnings 0 --fix, prettier --write

chore(e2e): resolve merge conflict and use heading locators
  .gitignore
  e2e/layout.spec.ts
  package.json
  playwright.config.ts
Due: eslint --max-warnings 0 --fix, prettier --write

chore(dev): add scripts/dev-pages.sh for Pages Functions dev server (used by back:dev)
  scripts/dev-pages.sh
Due: none

ui(M1): ベースCSS拡張＋レイアウト適用／token取得リトライ／E2E追加 (#96)
  .gitignore
  package.json
  scripts/dev-pages.sh
Due: prettier --write

docs(analytics): イベント集計設計 v0.1（準備）\n\nCloses #
  docs/analytics/event-aggregation.md
Due: prettier --write, markdownlint-cli2, remark -q

chore(schema): event counters JSON Schema v0.1（準備）\n\nCloses #
  schemas/analytics/event-counters.schema.json
Due: prettier --write

docs(analytics): イベント集計設計 v0.1（準備）\n\nCloses #100
  docs/analytics/event-aggregation.md
Due: prettier --write, markdownlint-cli2, remark -q

docs(analytics): event counters の用途/読み方/図を追加（lint fix5）
  docs/analytics/event-counters.md
Due: prettier --write, markdownlint-cli2, remark -q

docs(analytics): Mermaid 図の改行を <br/> に修正（パーサ互換）
  docs/analytics/event-counters.md
Due: prettier --write, markdownlint-cli2, remark -q

docs(analytics): イベント集計設計 v0.1（準備）\n\nCloses #100 (#99)
  docs/analytics/event-aggregation.md
Due: prettier --write, markdownlint-cli2, remark -q

chore(schema): event counters JSON Schema v0.1（準備） (#102)
  docs/analytics/event-counters.md
  schemas/analytics/event-counters.schema.json
Due: prettier --write, markdownlint-cli2, remark -q

chore(schema): event counters に を付与（用途と定義を内蔵）
  schemas/analytics/event-counters.schema.json
Due: prettier --write

chore(test): event-counters のスキーマ検証テストを追加
  tests/analytics.counters.schema.test.js
Due: eslint --max-warnings 0 --fix, prettier --write

chore(dev): add ajv-formats for date-time validation
  package-lock.json
  package.json
Due: prettier --write

docs(analytics): counters チートシート v0.1（準備）\n\nCloses #
  docs/analytics/counters-cheatsheet.md
Due: prettier --write, markdownlint-cli2, remark -q

docs(api): events.examples に v0.1 最小例を追記（準備）\n\nCloses #105
  docs/api/events.examples.md
Due: prettier --write, markdownlint-cli2, remark -q

Path conditions:
  eslint --max-warnings 0 --fix: any of: **/*.{js,ts,tsx,cjs,mjs}
  prettier --write: ((any of: **/*.{js,ts,tsx,cjs,mjs}) or (any of: **/*.md)) or (any of: **/*.{mdx,css,scss,html,json,yml,yaml})
  markdownlint-cli2: any of: **/*.md
  remark -q: any of: **/*.md
