Repository mizegret/minatoku-duel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2, remark -q

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "**/*.md": ["markdownlint-cli2", "remark -q", "prettier --write"],
  "**/*.{mdx,css,scss,html,json,yml,yaml}": ["prettier --write"]
}

fix(lint): 未使用import削除・app.jsx整形（M2-1 CI安定化）
  scripts/build-placeholder.mjs
  src/app.jsx
Due: eslint --fix, prettier --write

rule(lint): eslint --max-warnings 0 をローカル必須化／lint-stagedにprettier追加／Owner Approvalのノイズ削減
  .github/workflows/require-owner-approval.yml
  .lintstagedrc.json
  package.json
Due: prettier --write

rule(lint): _プレフィックスの未使用を許容（no-unused-varsのvars/caughtErrorsを追加）
  eslint.config.js
  scripts/fix-exec.mjs
  scripts/repo-doctor.mjs
  scripts/sync-labels.mjs
Due: eslint --fix, prettier --write

セキュリティ: dist/env.* の排除と dist/ の無視設定 (#45)
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  dist/env.local.json
  dist/index.html
  docs/deployment/cloudflare-pages.md
  env.local.json.example
  package-lock.json
  package.json
  scripts/build-placeholder.mjs
  scripts/check-mermaid.mjs
  scripts/fix-exec.mjs
  scripts/guard-pr.mjs
  scripts/guard-secrets.mjs
  scripts/mk-branch.sh
  scripts/new-pr.mjs
  scripts/repo-doctor.mjs
  src/README.md
  src/app.jsx
Due: eslint --fix, prettier --write, markdownlint-cli2, remark -q

chore(lint): テスト環境のESLintグローバルをJSにも適用
  eslint.config.js
  package-lock.json
  package.json
  schemas/envelope.schema.json
  tests/events.schema.test.js
  vitest.config.ts
Due: eslint --fix, prettier --write

fix(test): Ajv 2020-12 meta を使用するよう修正
  tests/events.schema.test.js
Due: eslint --fix, prettier --write

fix(lint): build-placeholder の未使用importを削除
  scripts/build-placeholder.mjs
Due: eslint --fix, prettier --write

M2-1: 最小アプリ骨格（3カラムUIのみ） (#44)
  .github/workflows/require-owner-approval.yml
  .lintstagedrc.json
  eslint.config.js
  package.json
  scripts/build-placeholder.mjs
  scripts/sync-labels.mjs
Due: eslint --fix, prettier --write

rule(commitlint): merge系コミットを検査対象から除外（PR通過性を改善）
  commitlint.config.cjs
Due: eslint --fix, prettier --write

Closes #48 — Event Envelope のJSON Schemaテスト (M2-2) (#49)
  .github/workflows/guardrails.yml
  commitlint.config.cjs
  eslint.config.js
  package-lock.json
  package.json
  schemas/envelope.schema.json
  tests/events.schema.test.js
  vitest.config.ts
Due: eslint --fix, prettier --write

fix(cf): TypeScript注釈を除去しESLintパースエラーを解消／関数テストをJS化
  functions/api/ably-token.ts
  tests/functions.ably-token.test.js
Due: eslint --fix, prettier --write

chore(ci): sync-labels 更新（差分更新＋エラー処理）
  scripts/sync-labels.mjs
Due: eslint --fix, prettier --write

M2-3: Pages Functions に /api/ably-token スタブを追加 (#52)
  functions/api/ably-token.ts
  tests/functions.ably-token.test.js
Due: eslint --fix, prettier --write

docs(pr): やさしいPRテンプレに刷新（目的/確認/リスク/戻し方）
  .github/pull_request_template.md
Due: prettier --write, markdownlint-cli2, remark -q

docs(deployment): コードブロックに言語指定を追加
  docs/deployment/cloudflare-pages.md
Due: prettier --write, markdownlint-cli2, remark -q

chore(ci): 条件付きジョブをskipではなく成功扱いに変更（E2E/Owner承認）
  .github/workflows/ci.yml
  .github/workflows/require-owner-approval.yml
Due: prettier --write

fix(ci): auto-merge GraphQL variables avoid reserved key (use instead of )
  .github/workflows/auto-merge.yml
Due: prettier --write

chore(ci): remove custom auto-merge workflow; rely on GitHub built-in
  .github/workflows/auto-merge.yml
Due: prettier --write

ci: 条件付きジョブをskipではなく成功扱いに変更 (#55)
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/require-owner-approval.yml
  docs/deployment/cloudflare-pages.md
  scripts/sync-labels.mjs
Due: eslint --fix, prettier --write, markdownlint-cli2, remark -q

ci: 内蔵Auto-mergeに一本化（カスタムWorkflow削除） (#58)
  .github/workflows/auto-merge.yml
Due: prettier --write

chore(ci): remove redundant workflows (auto-link/reviewdog)
  .github/workflows/auto-link-from-branch.yml
  .github/workflows/reviewdog-eslint.yml
  .github/workflows/reviewdog-markdown.yml
Due: prettier --write

chore(ci): 収束用の Required Checks job と issue参照の自動付与を追加
  .github/workflows/ci.yml
  .github/workflows/guardrails.yml
Due: prettier --write

ci: Required Checks ゲート追加＋Issue参照の自動付与 (#56)
  .github/workflows/ci.yml
  .github/workflows/guardrails.yml
Due: prettier --write

docs(pr): テンプレに備考セクションを追加（リンク/スクショ置き場）
  .github/pull_request_template.md
Due: prettier --write, markdownlint-cli2, remark -q

docs(pr): テンプレに備考セクションを追加（リンク/スクショ置き場） (#53)
  .github/pull_request_template.md
Due: prettier --write, markdownlint-cli2, remark -q

chore(ci): labels-sync 改良（作成+更新+エラーハンドリング）と自動実行トリガー追加
  .github/workflows/labels-sync.yml
  scripts/sync-labels.mjs
Due: eslint --fix, prettier --write

chore(ci): labels-sync 改良（作成+更新+エラーハンドリング）と自動実行トリガー追加 (#61)
  .github/workflows/labels-sync.yml
  scripts/sync-labels.mjs
Due: eslint --fix, prettier --write

chore(ci): add pre-push rebase guard to avoid PR conflicts
  .husky/pre-push
  scripts/hooks/pre-push-rebase-guard.sh
Due: none

chore(merge): resolve conflicts (prefer main for non-docs)
  .github/pull_request_template.md
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/guardrails.yml
  .github/workflows/labels-sync.yml
  .github/workflows/require-owner-approval.yml
  functions/api/ably-token.ts
  scripts/sync-labels.mjs
  tests/functions.ably-token.test.js
Due: eslint --fix, prettier --write, markdownlint-cli2, remark -q

docs(api): add examples, reserved payloads, channel usage; link from events.md
  docs/api/channel-usage.md
  docs/api/events.examples.md
  docs/api/events.md
  docs/api/payload-fields.md
Due: prettier --write, markdownlint-cli2, remark -q

docs(observability): add performance marks + ADR-0002
  docs/architecture/decisions/ADR-0002-observability.md
  docs/observability/performance-marks.md
Due: prettier --write, markdownlint-cli2, remark -q

feat(build): interactive UI stub in dist respecting join/start/move/state
  scripts/build-placeholder.mjs
Due: eslint --fix, prettier --write

chore(workspace): add npm workspaces (apps/web, functions) — placeholders only
  apps/web/README.md
  apps/web/package.json
  docs/architecture/workspaces.md
  functions/package.json
  package.json
Due: prettier --write, markdownlint-cli2, remark -q

feat(functions): /api/health スタブを追加（200 OK, {ok:true})
  functions/api/health.js
  tests/functions.health.test.js
Due: eslint --fix, prettier --write

chore(workspace): lockfile を更新（workspaces 反映）
  package-lock.json
Due: prettier --write

feat(web): Vite+React スケルトンを追加（ローカル操作のみ・既存ビルド非変更）
  apps/web/README.md
  apps/web/index.html
  apps/web/package.json
  apps/web/src/App.jsx
  apps/web/src/main.jsx
  apps/web/vite.config.js
Due: eslint --fix, prettier --write, markdownlint-cli2, remark -q

chore(web): Prettier でフォーマット
  apps/web/src/App.jsx
  apps/web/src/main.jsx
Due: none

chore(ci): PR・Issueをだれでも分かるテンプレ/CIに刷新（本文検査/日本語/夜間サマリ）
  .github/ISSUE_TEMPLATE/01-親Issue_だいじなこと.yml
  .github/ISSUE_TEMPLATE/02-子Issue_こまかい作業.yml
  .github/pull_request_template.md
  .github/workflows/pr-clarity.yml
  .github/workflows/pr-housekeeping.yml
  docs/git/pr-guidelines.md
Due: prettier --write, markdownlint-cli2, remark -q

chore(ci): rename issue template filenames to English and enforce ASCII via CI
  .github/ISSUE_TEMPLATE/01-parent-epic.yml
  .github/ISSUE_TEMPLATE/02-sub-issue.yml
  .github/workflows/filename-ascii.yml
Due: prettier --write
